body{
    font-family: 'Courier New', Courier, monospace;
    background-color: whitesmoke;
    color: #333;
}
header{
    text-align: left;
    background-color: whitesmoke;

}
h1{
    font-size: 2.5em;
    text-align: center;
    margin: 0;
}
footer{
    text-align: center;
    background-color: bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}